.testimonial {
    width: 100%;
    height: 50vh;
    background-color: #EFF3F6;
    padding-top: 15px;
}

.what-says {
    text-align: center;
}

.testimonial p {
    color: #777777;
}

.sub-heading {
    font-size: 26px;
    color: #383838;
    font-weight: 600;
}

.box {
    position: relative;
    width: 100%;
    max-height: 1024px;
    background-color: white;
    padding: 30px 35px 60px;
    border-radius: 5px;
}

.img-circle {
    position: absolute;
    bottom: 10px;
    left: 10%;
    transform: translateX(-50%);
}

.img-circle img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.box h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #767676;
}

.carousel-control-prev-icon{
    background-color: grey;
    padding: 15px;
    border-radius: 50px;
font-size: 24px; 
    width: 24px; 
    height: 24px; 
}

.carousel-control-next-icon{
    background-color: grey;
    padding: 15px;
    border-radius: 50px;
}
.carousel-indicators [data-bs-target] {
    background-color: black ;
}