form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    max-width: 1024px;
    border-radius: 20px;
}

.headerSearch {
    width: 100%;
    line-height: 100%;
}

.form-inputs {
    border: none;

}

.headerBtn {
    width: 100%;
    border-radius: 10px;
}

.headerSearchItem:not(:last-child) {
    border-right: 1px dashed #bdbdbd;
}

@media screen and (max-width: 768px) {
    .bg-light {
        background-color: rgb(255 255 255 / 0%) !important;
    }
}

@media screen and (max-width: 768px) {
    .headerSearchItem:not(:last-child) {
        padding: 0.85rem;
    }
}

@media screen and (max-width: 768px) {
    .headerSearchItem {
        background-color: #fff;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .headerBtn {
        height: 3.5rem;
        border-radius: 0.5rem;
    }
}