:root {
    /* --primary: #3b71fe !important; */
    --primary: #acffab !important;
    --primary-dark: #1049d9 !important;
    --bg-primary: #3b71fe !important
}

.btn-primary {
    background-color: var(--primary-dark);

}
.bg-primary {
    background: linear-gradient(90deg, #3011BC -24.59%, #7E11BC 113.66%) !important;
}
a{
    color: black;
}