.card-title{
    color: #022279;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.card-text{
    color: #767676;
}
.popular-service{
    padding-top: 7%;
    padding-bottom: 7%;
}
/* .rounded-circle{
    object-fit: cover;
} */