.aboutImage {
    height: 50vh;
    width: 100% !important;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/about-img.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 20%;
}
.aboutImage h1{
    color: #fff;
    font-weight: 800;
}
.about-content{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutUs-paragraph{
    font-size: 40px;
    font-weight: 700;
}
.aboutImg{
    width: 70%;
}
.ladyEng{
    width: 30%;
    height: 100%;
}
.daily-basis-problem{
    background-color: grey;
    height: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
} 

.img-rajiv{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 47vh;
    width: 35vh;
    background-repeat: no-repeat;
    object-fit: cover;
}
.daily-basis-content{
 padding-top: 50px;   
}
.daily-basis-content h2{
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
}
.daily-basis-content p{
    font-weight: 500;
    line-height: 35px;
    color: white;
}